<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome JavaScript Projects</title>
</head>
<body>
    <ul>
    <% for( let project of projectList ) { %>
        <li><a href="/awesome-javascript-projects/projects/<%= project.name -%>"><%= project.name -%></a></li>
    <% } %>
    </ul>
</body>
</html>