@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #41295a;
    background: -webkit-linear-gradient(to right, #210743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);

}
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #001300;
    animation: changeColor 10s linear infinite;
    z-index:100;
}

.loader-wrapper .loader {
    position: relative;
    display: flex;
}
.loader-wrapper h2 {
    color: #00ff11; 
    font-weight: 300;
    letter-spacing: 10px;
}

.loader-wrapper .loader .dot {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
        0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
    margin: 20px 10px;
    transform: scale(0.1);
    border-radius: 50%;
    animation: animateDot 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.loader-wrapper .loader:last-child .dot{
    animation-delay: calc(-0.1s * var(--i));
}
.content{
    text-align: center;
    font-size: 2em;
    color:#fff;
}
@keyframes animateDot {
    0%{
        transform: scale(0.1);
    }
    10%{
        transform: scale(1);
    }
    50%,
    100%{
        transform: scale(0.1);
    }
}
@keyframes changeColor{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}