body{
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background: #333 url('https://images.pexels.com/photos/11071293/pexels-photo-11071293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center / cover;
    color: aliceblue;
    overflow: hidden;
}

.navbar{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

ul{
    list-style: none;
    text-align: right;
    padding-right: 10px;
}

li{
    display: inline;
    margin: 0 10px;
}

img{
    width: 50px;
    transition: 0.2s;
}

img:hover{
    transform: scale(1.5);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
}

.txt-type > .txt{
    border-right: 0.2rem solid aliceblue;
}

@media(min-width: 1200px){
    h1{
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    .container{
        padding: 0 1rem;
    }

    h1{
        font-size: 3rem;
    }
}

@media(max-width: 500px){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}