
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --background-color: #fff;
  --brand-color: #448aff;
  --secondary-color: #ff1212;
  --shadow-color: rgba(60, 60, 100, 0.15);
}

body {
  align-items: center;
  background: linear-gradient(var(--angle), var(--color-1), var(--color-2));
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.wrapper {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  box-shadow: 0 1.25rem 1.5rem var(--shadow-color);
  box-sizing: border-box;
  padding: 2rem 2rem;
  width: 25rem;
}

.wrapper h2 {
  color: var(--brand-color);
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 2rem;
  margin-top: 0;
  text-align: center;
}

.output-color {
  background: linear-gradient(var(--angle), var(--color-1), var(--color-2));
  border-radius: 0.25rem;
  height: 35vmin;
  width: 100%;
}

.output-code {
  background-color: var(--background-color);
  border-radius: 0.25rem;
  border: 0.0625rem solid #cfd5d5;
  box-sizing: border-box;
  color: var(--brand-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5rem 0 2.5rem;
  padding: 1rem 0.8rem;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-container button {
  background-color: var(--brand-color);
  border-radius: 0.25rem;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  min-width: 46%;
  padding: 0.8rem 0;
}

.btn-container button:nth-last-of-type(1) {
  background-color: var(--secondary-color);
}

.btn-container button:nth-last-of-type(1):active {
  transform: translateY(0.25rem);
}