@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --app-bg: #161b22;
  --black: #000;
  --light-black: #333333;
  --white: #fff;
  --input-bg: #e9dfdf;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--app-bg);
  color: var(--white);
}
.container {
  padding: 20px;
  width: 100%;
  margin: auto;
  max-width: 330px;
}

.upper {
  text-align: left;
}
.upper input[type="search"] {
  width: 100%;
  border-radius: 6px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 14px 0 40px;
  background-color: var(--input-bg);
  font-size: 14px;
}

.upper input[type="search"]::placeholder {
  color: grey;
}

.upper .input-wrapper {
  position: relative;
}
.upper .input-wrapper img {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.upper button {
  background: var(--black);
  width: 100%;
  border-radius: 10px;
  height: 40px;
  border: none;
  margin-top: 10px;
  color: var(--white);
}
.upper button:not(:disabled) {
  cursor: pointer;
}

.bottom {
  margin-top: 60px;
  width: 100%;
}

.card {
  background: var(--white);
  border-radius: 10px;
  padding: 16px;
  transition: transform 0.25s ease;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
}

.card:hover {
  transform: scale(1.025);
}

.card .card-media {
  margin-top: -51px;
}
.card .card-media img {
  height: 70px;
  border-radius: 50%;
  width: 70px;
  border: 4px solid var(--white);
  background: var(--white);
}

.card .card-content > * + * {
  margin-top: 15px;
}

.card .bold {
  font-size: 16px;
  font-weight: bolder;
  color: var(--light-black);
  line-height: 1;
}
.card .profile-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  background: rgba(51, 51, 51, 0.11);
  border: 1px solid rgba(51, 51, 51, 0.099);
  padding: 5px;
  border-radius: 6px;
}
.card .profile-stats p {
  font-weight: 600;
  color: var(--black);
  font-size: 16px;
}
.card .profile-stats span {
  font-size: 12px;
  color: rgb(87, 87, 87);
}
.card .profile-bio {
  font-size: 14px;
  color: var(--black);
}
.card .profile-name p {
  font-size: 16px;
  font-weight: 800;
  color: var(--light-black);
  line-height: 1;
}
.card .profile-name span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: medium;
  color: rgb(125, 125, 125);
}

.loader {
  text-align: center;
}
.loader.hidden {
  display: none;
}

.not-found {
  text-align: center;
  opacity: 0.5;
  display: none;
}
.not-found h4 {
  font-size: 50px;
}
