fieldset {
	width: 300px;
	margin: 25px 0 0 50px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	padding: 10px;
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

button {
	margin-left: 150px;
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
	width: 300px;
	margin: 25px 0 0 50px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
}