body {
    background-image: url("./bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    width: 400px;
    opacity: 0.9;
  }
  .center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #f3c932;
    color: #2a2929;
  }
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  .text_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
  }
  .text_field input:focus ~ label,
  .text_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
  }
  .text_field input:focus ~ span::before,
  .text_field input:valid ~ span::before {
    width: 100%;
  }
  .pass {
    margin: -5px 0 20px 5px;
    color: #666666;
    cursor: pointer;
  }
  .pass:hover {
    text-decoration: underline;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid;
    background: #2691d9;
    color: #e9f4fb;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover {
    border-color: #2691d9;
    transition: 0.5s;
  }
  .singup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .singup_link a {
    color: #2691d9;
    text-decoration: none;
  }
  .singup_link a:hover {
    text-decoration: underline;
  }
  